.container {
  width: 384px;
  height: 374px;
  background-color: #fff;
  margin: 59px 0 0 0;
  padding: 48px 32px 48px 32px;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin: 0 0 21px 0;
}

.inputTitle {
  margin: 0 0 5px 0;
}

.input {
  width: 100%;
  height: 40px;
  border-radius: 2px;

}

.inputWrapper {
  width: 100%;
  margin: 0 0 21px 0;
  font-size: 12px;
}

.labelCheckBox {
  margin: 0 0 21px 0;

  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #595959;
}

.buttonCreate {
  width: 100%;
  margin: 0 0 10px 0;
  border-radius: 2px;
  background-color: #1890FF;
}

.footer {
  display: flex;
  justify-content: center;

  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  color: #8C8C8C;
}

.link {
  color: #1890FF;
  text-decoration: none;
}